.previewTitle {
  font-size: 1.5em;
}

.tag {
  color: #ffc400;
  text-decoration: none;
  display: inline-block;
  padding: .33333rem .5rem;
  line-height: 1;
  border-radius: 5px;
  margin-right: .5em;
  -webkit-box-shadow: 10px 10px 50px -3px rgba(0,0,0,0.27);
  -moz-box-shadow: 10px 10px 50px -3px rgba(0,0,0,0.27);
  box-shadow: 10px 10px 50px -3px rgba(0,0,0,0.27);
}